/* This is how to accomplish the sticky footer in css */

html{
    /* 100vh should also work... Probablly. LOL. */
    min-height: 100%;
    position: relative;    
}

body{
    margin-bottom: 60px;
    height: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: green;
}